* {
  margin: 0;
  padding: 0;
}

nav {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.navbarList li {
  list-style-type: none;
  display: inline;
}

.navbarList li a {
  margin: 0 1rem;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.navbarList li .getNowBtn {
  background-color: blue;
  color: white;
  font-weight: bold;

  border-radius: 30px;
  padding: 10px 20px;
}

main {
  background-color: lightGrey;
}

#title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 10vh 0;
}

#title h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

#title p {
  font-size: 1.5rem;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  padding: 0 70px;
}

.parent a {
  text-decoration: none;
}

.myCard {
  min-height: 200px;
  width: 100%;
}

.myCard:hover {
  transform: scale(1.05);
}
.myCard img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 2vh;
}

.myCard span {
  color: orangered;
  font-weight: 600;
}

.myCard p {
  font-weight: bolder;
  margin-top: 2vh;
  font-size: 24px;
  color: black;
}